:root{
  --texto-cab: #000000;
  --fondo-cab: #ffffff;

}


body{
  position: relative;
  width: 100%;
  height: 100%;
}

#sobremi, #contact, #sesiones{
  padding-top: 10vh !important;
}

#prices{
  height: 100vh !important;
  padding-top: 10vh !important;
}
#intro{
  height: 100vh !important;
}



.navbar-toggler{
  border-color: #ffffff !important;
}

.navbar{
  height: 10vh;
  width: 100%;
  background-color: transparent;
}


.navbar>div{
  padding-left: 5vw !important;
}

.nav{
  margin-left: 5vw;
}

.nav-link{
  color: #ffffff !important;
}

.nav-link.active{
  text-decoration: underline !important;
  background-color: transparent !important;
}

.row>*{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.fotogaostudio{
  height: 90vh;
}

.texto-presentacion{
  padding-top: 5vh;
}

.presentacion, .presentacion2{
  padding-left: 5vw !important;
  padding-right: 5vw !important;
  padding-top: 3vh !important;
}



.links{
  padding-left: 20vmax;
  padding-right: 20vmax;
}
.linksContacto{
  margin-bottom: 3vh;
}
i{
  font-size: 8vmin;
  color: #000000;
}

.sliderIntro {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0px;
  
 }
  
 .sliderIntro .slideIntro {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slider 15s infinite;
  
 }

 .filassesiones>.col>.card{
  margin-top: 4vh !important;
  margin: auto;
}
.card-text{
  height: 15vh !important;
}

.btn:hover{
  background-color: #ffffff !important;
  border-color: #000000 !important;
  color: #000000 !important;
}

.btn{
  background-color: #000000 !important;
  border-color: #ffffff !important;
  color: #ffffff !important;
}

/* NAVIDAD */
.navidad .carousel-item:nth-child(1) {
  content: url("/gaostudio/images/navidad/horizontal/1.jpg");
}
.navidad .carousel-item:nth-child(2) {
  content: url("/gaostudio/images/navidad/horizontal/2.jpg");
}
.navidad .carousel-item:nth-child(3) {
  content: url("/gaostudio/images/navidad/horizontal/3.jpg");
}
.navidad .carousel-item:nth-child(4) {
  content: url("/gaostudio/images/navidad/horizontal/4.jpg");
}
.navidad .carousel-item:nth-child(5) {
  content: url("/gaostudio/images/navidad/horizontal/5.jpg");
}

/* CUMPLEAÑOS */
.cumple .carousel-item:nth-child(1) {
  content: url("/gaostudio/images/fotos-de-cumpleanos/horizontal/1.jpg");
}
.cumple .carousel-item:nth-child(2) {
  content: url("/gaostudio/images/fotos-de-cumpleanos/horizontal/2.jpg");
}
.cumple .carousel-item:nth-child(3) {
  content: url("/gaostudio/images/fotos-de-cumpleanos/horizontal/3.jpg");
}
.cumple .carousel-item:nth-child(4) {
  content: url("/gaostudio/images/fotos-de-cumpleanos/horizontal/4.png");
}
.cumple .carousel-item:nth-child(5) {
  content: url("/gaostudio/images/fotos-de-cumpleanos/horizontal/5.jpg");
}


/* ACTORAL */
.actoral .carousel-item:nth-child(1) {
  content: url("/gaostudio/images/book-actoral/horizontal/1.jpg");
}
.actoral .carousel-item:nth-child(2) {
  content: url("/gaostudio/images/book-actoral/horizontal/2.JPG");
}
.actoral .carousel-item:nth-child(3) {
  content: url("/gaostudio/images/book-actoral/horizontal/3.JPG");
}
.actoral .carousel-item:nth-child(4) {
  content: url("/gaostudio/images/book-actoral/horizontal/4.jpg");
}
.actoral .carousel-item:nth-child(5) {
  content: url("/gaostudio/images/book-actoral/horizontal/5.JPG");
}


/* PROFESIONAL */
.profesional .carousel-item:nth-child(1) {
  content: url("/gaostudio/images/perfil-profesional/horizontal/1.JPG");
}
.profesional .carousel-item:nth-child(2) {
  content: url("/gaostudio/images/perfil-profesional/horizontal/2.JPG");
}
.profesional .carousel-item:nth-child(3) {
  content: url("/gaostudio/images/perfil-profesional/horizontal/3.JPG");
}
.profesional .carousel-item:nth-child(4) {
  content: url("/gaostudio/images/perfil-profesional/horizontal/4.JPG");
}
.profesional .carousel-item:nth-child(5) {
  content: url("/gaostudio/images/perfil-profesional/horizontal/5.JPG");
}


/* PERSONAL */
.personal .carousel-item:nth-child(1) {
  content: url("/gaostudio/images/marca-personal/horizontal/1.jpg");
}
.personal .carousel-item:nth-child(2) {
  content: url("/gaostudio/images/marca-personal/horizontal/2.jpg");
}
.personal .carousel-item:nth-child(3) {
  content: url("/gaostudio/images/marca-personal/horizontal/3.png");
}
.personal .carousel-item:nth-child(4) {
  content: url("/gaostudio/images/marca-personal/horizontal/4.JPG");
}
.personal .carousel-item:nth-child(5) {
  content: url("/gaostudio/images/marca-personal/horizontal/5.png");
}


/* EMPRESA */
.empresa .carousel-item:nth-child(1) {
  content: url("/gaostudio/images/retrato-corporativo/horizontal/1.jpg");
}
.empresa .carousel-item:nth-child(2) {
  content: url("/gaostudio/images/retrato-corporativo/horizontal/2.jpg");
}
.empresa .carousel-item:nth-child(3) {
  content: url("/gaostudio/images/retrato-corporativo/horizontal/3.jpg");
}
.empresa .carousel-item:nth-child(4) {
  content: url("/gaostudio/images/retrato-corporativo/horizontal/4.jpg");
}
.empresa .carousel-item:nth-child(5) {
  content: url("/gaostudio/images/retrato-corporativo/horizontal/5.jpg");
}


/* DIA DE LA MADRE */
.madre .carousel-item:nth-child(1) {
  content: url("/gaostudio/images/dia-de-la-madre/horizontal/1.jpg");
}
.madre .carousel-item:nth-child(2) {
  content: url("/gaostudio/images/dia-de-la-madre/horizontal/2.jpg");
}
.madre .carousel-item:nth-child(3) {
  content: url("/gaostudio/images/dia-de-la-madre/horizontal/3.jpg");
}
.madre .carousel-item:nth-child(4) {
  content: url("/gaostudio/images/dia-de-la-madre/horizontal/4.jpg");
}
.madre .carousel-item:nth-child(5) {
  content: url("/gaostudio/images/dia-de-la-madre/horizontal/5.jpg");
}



 /* PRESENTACION */
.sliderIntro .slideIntro:nth-child(1) {
  background-image: url("/gaostudio/images/fotos-de-cumpleanos/horizontal/2.jpg");
  animation-delay: -2s;
}

.sliderIntro .slideIntro:nth-child(2) {
  background-image: url("/gaostudio/images/dia-de-la-madre/horizontal/5.jpg");
  animation-delay: -4s;
}

.sliderIntro .slideIntro:nth-child(3) {
  background-image: url("/gaostudio/images/book-actoral/horizontal/1.jpg");
  animation-delay: -6s;
}

.sliderIntro .slideIntro:nth-child(4) {
  background-image: url("/gaostudio/images/marca-personal/horizontal/3.png");
  animation-delay: -8s;
}

.sliderIntro .slideIntro:nth-child(5) {
  background-image: url("/gaostudio/images/navidad/horizontal/5.jpg");
  animation-delay: -10s;
}

.sliderIntro .slideIntro:nth-child(6) {
  background-image: url("/gaostudio/images/retrato-corporativo/horizontal/4.jpg");
  animation-delay: -12s;
}

.sliderIntro .slideIntro:nth-child(7) {
  background-image: url("/gaostudio/images/perfil-profesional/horizontal/1.JPG");
  animation-delay: -14s;
}

@keyframes slider {
  0%, 16%, 100% {
    transform: translateX(0);
    animation-timing-function: ease;
  }
  20% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  96% {
    transform: translateX(100%);
    animation-timing-function:ease;
  }
 }


 #carouselExampleControls{
  height: 100vh !important;
 }

.imagenCarousel{
  height: 80vh !important;
}




footer{
  background-color: #000000 !important;
  height: 10vh !important;
  margin-top: 10vh !important;
}
footer>div{
  color: #ffffff !important;
}




 @media (max-width: 991.98px) {
  .sliderIntro .slideIntro:nth-child(1) {
    background-image: url("/gaostudio/images/fotos-de-cumpleanos/vertical/2.jpg");
    animation-delay: -2s;
  }
  
  .sliderIntro .slideIntro:nth-child(2) {
    background-image: url("/gaostudio/images/dia-de-la-madre/vertical/5.jpg");
    animation-delay: -4s;
  }
  
  .sliderIntro .slideIntro:nth-child(3) {
    background-image: url("/gaostudio/images/book-actoral/vertical/1.jpg");
    animation-delay: -6s;
  }
  
  .sliderIntro .slideIntro:nth-child(4) {
    background-image: url("/gaostudio/images/marca-personal/vertical/3.png");
    animation-delay: -8s;
  }
  
  .sliderIntro .slideIntro:nth-child(5) {
    background-image: url("/gaostudio/images/navidad/vertical/3.jpg");
    animation-delay: -10s;
  }
  
  .sliderIntro .slideIntro:nth-child(6) {
    background-image: url("/gaostudio/images/retrato-corporativo/vertical/3.jpg");
    animation-delay: -12s;
  }
  
  .sliderIntro .slideIntro:nth-child(7) {
    background-image: url("/gaostudio/images/perfil-profesional/vertical/3.jpg");
    animation-delay: -14s;
  }

  .navbar-toggler{
    margin-right: 5vw !important;
    
  }

  .navbar{
    height: 6.5vh;
    padding-bottom: 4rem !important;
  }

  .nav{
    margin-left: 50vw;
    padding-right: 10vw;
    flex-direction: column !important;
    align-content: flex-end !important;
    background-color: transparent;
  }

  .nav-link{
    font-size: 5vmin;
  }

  #sobremi{
    padding-top: 6.5vh !important;
  }
  #sesiones{
    padding-top: 6.5vh !important;
  }

  #contact, #prices{
    height: 60vh !important;
    padding-top: 6.5vh !important;
  }

  .fotogaostudio{
    height: 60vh;
  }

  .presentacion, .presentacion2{
    padding-left: 5vw !important;
    padding-right: 5vw !important;
    padding-top: 3vh !important;
  }



  .links{
    padding-left: 1vmax;
    padding-right: 1vmax;
  }
  .linksContacto{
    margin-bottom: 3vh;
  }
  i{
    font-size: 15vmin !important;
  }

  .card-text{
    height: 12vh !important;
  }
  .filassesiones{
    display: flex;
    flex-direction: column;
  }
  .filassesiones>.col>.card{
    margin-top: 4vh !important;
    margin: auto;
  }

 }